body {
    background-color: lightslategray;
}

.hidden{
    display: none;
}

#combo{
    /*width: 400px;*/
    font-weight: bold;
    margin: 15px;
    width: 95%;
}

#footer {
    text-align: center;
}

label {
    min-width: 130px;
}

.artikalforma .inputfield {
    width: 74% !important;
}

.col-left {
    display: inline-block;
}

.col-right {
    float: right;
}

.btn-block {
    margin-top: 20px !important;
}

.panel-title {
    text-align: center;
     font-size: 20px;
    font-weight: bold;
}

.welcome {
    background-color: #eee;
}

#detalji_ponude {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#detalji_ponude td, #detalji_ponude th {
    border: 1px solid #ddd;
    padding: 8px;
}

#detalji_ponude tr:nth-child(even){background-color: #f2f2f2;}

#detalji_ponude tr:hover {background-color: #ddd;}

#detalji_ponude th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ddd;
}

.ponuda_omot {
    margin-top: 25px;
}

.stavkabuttons {
    text-align: center;
}

.stavkabuttons button {
    margin-right: 10px;
}

.backpage {
    text-align: center;
    margin-top: 10%;
}

/*Tablesorter*/

table.tablesorter thead tr .header {
    background-image: url(images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(images/desc.gif);
}

/*********/

button {
    font-weight: bold;
}

.center {
    text-align: center;
}

.artikalform {
    font-weight: bold;
}

.aktivnastavka {
    background-color: lightskyblue !important;
}

.changed{
    background-color: palevioletred;
    font-weight: bold;
}

.Artikal {
    width: 35%;
}