<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--Oracle connection options-->
    <!--<property name="connection.url">jdbc:oracle:thin:@192.168.1.20:1521:orcl</property>-->
    <!--<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:orcl</property>-->
    <!--<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>-->
    <!--MySQL connection options-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fpis01</property>
    <property name="hibernate.connection.username">fpis01</property>
    <property name="hibernate.connection.password">fon123</property>
    <!-- DB schema will be updated if needed -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!--General options-->
    <mapping class="com.fpis.test.model.ArtikalEntity"/>
    <mapping class="com.fpis.test.model.PonudaEntity"/>
    <mapping class="com.fpis.test.model.StavkaPonudeEntity"/>

  </session-factory>
</hibernate-configuration>